<template>
  <div id="navi">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Computer Store</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link active" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/customers"
                  >Customers</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/employees"
                  >Employees</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/suppliers"
                  >Suppliers</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/shippers"
                  >Shippers</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/products"
                  >Products</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link active" to="/orders"
                  >Orders</router-link
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</template>

<script>
export default {
  name: "navi",
};
</script>