body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

footer {
  background-color: rgb(37, 156, 192);
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.select2-container .select2-selection--single{
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 38px;;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 38px;
}

label {
  color: white;
}

img {
  opacity: 0.6;
}

li :hover {
  background-color: brown;
}


