<template>
  <div id="customers" class="container">
    <form action="" class="mt-4" id="dept-form">
      <div class="mb-3">
        <label for="cust-name" class="form-label">Customer Name</label>
        <input
          v-model="form.custName"
          type="text"
          class="form-control"
          id="cust-name"
          placeholder="Customer name..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-lastName" class="form-label">Customer Last Name</label>
        <input
          v-model="form.custLastName"
          type="text"
          class="form-control"
          id="cust-lastName"
          placeholder="Customer last name..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-address" class="form-label">Customer Address</label>
        <input
          v-model="form.custAddress"
          type="text"
          class="form-control"
          id="cust-address"
          placeholder="Customer address..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-city" class="form-label">Customer City</label>
        <input
          v-model="form.custCity"
          type="text"
          class="form-control"
          id="cust-city"
          placeholder="Customer city..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-address" class="form-label">Customer Zip</label>
        <input
          v-model="form.custZip"
          type="text"
          class="form-control"
          id="cust-zip"
          placeholder="Customer zip..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-address" class="form-label">Customer Country</label>
        <input
          v-model="form.custCountry"
          type="text"
          class="form-control"
          id="cust-country"
          placeholder="Customer country..."
        />
      </div>
      <div class="mb-3">
        <label for="cust-address" class="form-label">Customer Phone</label>
        <input
          v-model="form.custPhone"
          type="text"
          class="form-control"
          id="cust-phone"
          placeholder="Customer phone..."
        />
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-success"
        @click.prevent="saveCustomer()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateCustomer()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Last Name</td>
          <td>Address</td>
          <td>City</td>
          <td>Zip</td>
          <td>Country</td>
          <td>Phone</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(cust, i) in customers" :key="i">
          <td>{{ cust.custId }}</td>
          <td>{{ cust.custName }}</td>
          <td>{{ cust.custLastName }}</td>
          <td>{{ cust.custAddress }}</td>
          <td>{{ cust.custCity }}</td>
          <td>{{ cust.custZip }}</td>
          <td>{{ cust.custCountry }}</td>
          <td>{{ cust.custPhone }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteCustomer(cust.custId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editCustomer(cust)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "customers",
  data() {
    return {
      updateId: 0,
      customers: [],
      form: {
        custName: "",
        custLastName: "",
        custAddress: "",
        custCity: "",
        custZip: "",
        custCountry: "",
        custPhone: "",
      },
      isEdit: false,
    };
  },
  methods: {
    getCustomers() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/customers/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.customers = JSON.parse(data);
          }
        },
      });
    },
    saveCustomer() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/customers/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            //To prevent from making a new request to the backend
            //...the department ID sent from the backend is used to update
            //...the department list in the front end
            $this.customers.push({
              custId: JSON.parse(data),
              custName: $this.form.custName,
              custLastName: $this.form.custLastName,
              custAddress: $this.form.custAddress,
              custCity: $this.form.custCity,
              custZip: $this.form.custZip,
              custCountry: $this.form.custCountry,
              custPhone: $this.form.custPhone,
            });
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteCustomer(custId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/customers/delete/${custId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.customers.splice(i, 1);
          }
        },
      });
    },
    editCustomer(custData) {
      this.isEdit = true;
      this.form.custName = custData.custName;
      this.form.custLastName = custData.custLastName;
      this.form.custAddress = custData.custAddress;
      this.form.custCity = custData.custCity;
      this.form.custZip = custData.custZip;
      this.form.custCountry = custData.custCountry;
      this.form.custPhone = custData.custPhone;
      this.updateId = custData.custId;
      $("html, body").animate({ scrollTop: 0 });
    },
    updateCustomer() {
      let $this = this;
      if (this.updateId > 0) {
        $.ajax({
          type: "PUT",
          url: `${baseURL}/customers/update/${this.updateId}`,
          data: this.form,
          success: function (data, status) {
            if (status === "success") {
              $this.isEdit = false;
              for (let i in $this.customers) {
                if ($this.customers[i].custId === $this.updateId) {
                  $this.customers[i].custName = $this.form.custName;
                  $this.customers[i].custLastName = $this.form.custLastName;
                  $this.customers[i].custAddress = $this.form.custAddress;
                  $this.customers[i].custCity = $this.form.custCity;
                  $this.customers[i].custZip = $this.form.custZip;
                  $this.customers[i].custCountry = $this.form.custCountry;
                  $this.customers[i].custPhone = $this.form.custPhone;
                }
              }
              for (let i in $this.form) {
                $this.form[i] = "";
              }
            }
          },
        });
      }
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
    },
  },
  mounted() {
    this.getCustomers();
  },
};
</script>

<style scoped>
</style>