<template>
  <div id="departments" class="container">
    <form action="" class="mt-4" id="dept-form">
      <div class="mb-3">
        <label for="dept-name" class="form-label">Department Name</label>
        <input
          v-model="form.deptName"
          type="text"
          class="form-control"
          id="dept-name"
          placeholder="Department Name..."
        />
      </div>
      <div class="mb-3">
        <label for="dept-director" class="form-label"
          >Department Director</label
        >
        <input
          v-model="form.deptDirector"
          type="text"
          class="form-control"
          id="dept-director"
          placeholder="Director name..."
        />
      </div>
      <div class="mb-3">
        <label for="dept-budget" class="form-label">Department Director</label>
        <input
          v-model="form.deptBudget"
          type="text"
          class="form-control"
          id="dept-budget"
          placeholder="Budget amount..."
        />
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-success"
        @click.prevent="saveDepartment()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateDepartment()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <!-- Table section -->
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Director</td>
          <td>Budget</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(dept, i) in departments" :key="i">
          <td>{{ dept.deptid }}</td>
          <td>{{ dept.deptname }}</td>
          <td>{{ dept.deptdirector }}</td>
          <td>{{ dept.deptbudget }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteDepartment(dept.deptid, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editDepartment(dept)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "departments",
  data() {
    return {
      updateId: 0,
      departments: [],
      form: {
        deptName: "",
        deptDirector: "",
        deptBudget: "",
      },
      isEdit: false,
    };
  },
  methods: {
    getDepartments() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/departments/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.departments = JSON.parse(data);
          }
        },
      });
    },
    saveDepartment() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/departments/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            //To prevent from making a new request to the backend
            //...the department ID sent from the backend is used to update
            //...the department list in the front end
            $this.departments.push({
              deptid: JSON.parse(data),
              deptname: $this.form.deptName,
              deptdirector: $this.form.deptDirector,
              deptbudget: $this.form.deptBudget,
            });
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteDepartment(deptid, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/departments/delete/${deptid}`,
        success: function (data, status) {
          if (status === "success") {
            $this.departments.splice(i, 1);
          }
        },
      });
    },
    editDepartment(deptData) {
      this.isEdit = true;
      this.form.deptName = deptData.deptname;
      this.form.deptDirector = deptData.deptdirector;
      this.form.deptBudget = deptData.deptbudget;
      this.updateId = deptData.deptid;
      $("html, body").animate({ scrollTop: 0 });
    },
    updateDepartment() {
      let $this = this;
      if (this.updateId > 0) {
        $.ajax({
          type: "PUT",
          url: `${baseURL}/departments/update/${this.updateId}`,
          data: this.form,
          success: function (data, status) {
            if (status === "success") {
              for (let i in $this.departments) {
                if ($this.departments[i].deptid === $this.updateId) {
                  $this.departments[i].deptname = $this.form.deptName;
                  $this.departments[i].deptdirector = $this.form.deptDirector;
                  $this.departments[i].deptbudget = $this.form.deptBudget;
                }
              }
              for (let i in $this.form) {
                $this.form[i] = "";
              }
            }
          },
        });
      }
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
    },
  },
  mounted() {
    this.getDepartments();
  },
};
</script>