<template>
  <div id="employees" class="container">
    <form action="" class="mt-4">
      <div class="mb-3">
        <label for="employ-name" class="form-label">Employee Name</label>
        <input
          v-model="form.employName"
          type="text"
          class="form-control"
          id="employ-name"
          placeholder="Employee Name..."
        />
      </div>
      <div class="mb-3">
        <label for="employ-address" class="form-label"
          >Employee Last Name</label
        >
        <input
          v-model="form.employLastName"
          type="text"
          class="form-control"
          id="employ-address"
          placeholder="Employee last name..."
        />
      </div>
      <div class="mb-3">
        <label for="employ-bday" class="form-label">Employee Birthdate</label>
        <input
          v-model="form.employBday"
          type="date"
          class="form-control"
          id="employ-bday"
          placeholder="Employee birthdate..."
        />
      </div>
      <div class="mb-3">
        <label for="employ-email" class="form-label">Employee Email</label>
        <input
          v-model="form.employEmail"
          type="text"
          class="form-control"
          id="employ-email"
          placeholder="Employee email..."
        />
      </div>
      <!-- <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <select id="department" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose Department...</option>
          <option
            v-for="(dept, i) in departments"
            v-bind:value="dept.deptid"
            :key="i"
          >
            {{ dept.deptname }}
          </option>
        </select>
      </div> -->
      <button
        v-show="!isEdit"
        class="btn btn-primary"
        id="btn-save-employ"
        @click.prevent="saveEmployee()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateEmployee()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <!-- Table section -->
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Last Name</td>
          <td>Birthdate</td>
          <td>Email</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(employ, i) in employees" :key="i">
          <td>{{ employ.employId }}</td>
          <td>{{ employ.employName }}</td>
          <td>{{ employ.employLastName }}</td>
          <td>{{ employ.employBday }}</td>
          <td>{{ employ.employEmail }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteEmployee(employ.employId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editEmployee(employ)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "employees",
  data() {
    return {
      isEdit: false,
      updateId: 0,
      employees: [],
      form: {
        employName: "",
        employLastName: "",
        employBday: "",
        employEmail: "",
      },
    };
  },
  methods: {
    getEmployees() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/employees/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.employees = JSON.parse(data.employees);
          }
        },
      });
    },
    saveEmployee() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/employees/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getEmployees();
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteEmployee(employId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/employees/delete/${employId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.employees.splice(i, 1);
          }
        },
      });
    },
    editEmployee(employData) {
      this.updateId = employData.employId;
      this.form.employName = employData.employName;
      this.form.employLastName = employData.employLastName;
      this.form.employBday = employData.employBday;
      this.form.employEmail = employData.employEmail;
      // $("#department").val(employData.deptid).trigger("change");
      this.isEdit = true;
      //$(document).scrollTop(0);
      $("html, body").animate({ scrollTop: 0 });
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
      // $("#department").select2();
    },
    updateEmployee() {
      let $this = this;
      $.ajax({
        type: "PUT",
        url: `${baseURL}/employees/update/${this.updateId}`,
        data: $this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getEmployees();
            $this.isEdit = false;
            for (let i in $this.form) {
              $this.form[i] = "";
            }
            // $("#department").val(null).trigger("change");
          }
        },
      });
    },
  },
  mounted() {
    this.getEmployees();
    // $("#department").select2();
    // $("#department").on("change", () => {
    //   this.form.deptID = $("#department").val();
    // });
  },
};
</script>