<template>
    <div id="home">
        <img src="../assets/background.jpg" alt="Background" class="img-fluid mt-4">
    </div>
</template>

<style scoped>
    img {
        height: 80vh;
        width: 100%;
    }
</style>

