<template>
  <div id="orders" class="container">
    <form action="" class="mt-4">
      <div class="mb-3">
        <label for="order-date" class="form-label">Order Date</label>
        <input
          v-model="form.orderDate"
          type="date"
          class="form-control"
          id="order-date"
          placeholder="Order Date..."
        />
      </div>
      <div class="mb-3">
        <label for="supplier" class="form-label">Supplier</label>
        <select id="supplier" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose Supplier...</option>
          <option
            v-for="(supp, i) in suppliers"
            v-bind:value="supp.suppId"
            :key="i"
          >
            {{ supp.suppName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="customer" class="form-label">Customer</label>
        <select id="customer" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose Customer...</option>
          <option
            v-for="(cust, i) in customers"
            v-bind:value="cust.custId"
            :key="i"
          >
            {{ cust.custName }} {{ cust.custLastName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="employee" class="form-label">Employee</label>
        <select id="employee" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose Employee...</option>
          <option
            v-for="(employ, i) in employees"
            v-bind:value="employ.employId"
            :key="i"
          >
            {{ employ.employLastName }}
          </option>
        </select>
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-primary"
        id="btn-save-employ"
        @click.prevent="saveOrder()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateOrder()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <!-- Table section -->
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Order Date</td>
          <td>Supplier</td>
          <td>Customer</td>
          <td>Employee</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(order, i) in orders" :key="i">
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.suppName }}</td>
          <td>{{ order.custName }} {{ order.custLastName }}</td>
          <td>{{ order.employLastName }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteOrder(order.orderId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editOrder(order)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "orders",
  data() {
    return {
      isEdit: false,
      updateId: 0,
      orders: [],
      suppliers: [],
      customers: [],
      employees: [],
      form: {
        orderDate: "",
        suppId: "",
        custId: "",
        employId: "",
      },
    };
  },
  methods: {
    getOrders() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/orders/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.orders = JSON.parse(data.orders);
            $this.suppliers = JSON.parse(data.suppliers);
            $this.customers = JSON.parse(data.customers);
            $this.employees = JSON.parse(data.employees);
          }
        },
      });
    },
    saveOrder() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/orders/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getOrders();
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteOrder(orderId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/orders/delete/${orderId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.orders.splice(i, 1);
          }
        },
      });
    },
    editOrder(orderData) {
      this.updateId = orderData.orderId;
      this.form.orderDate = orderData.orderDate;
      $("#supplier").val(orderData.suppId).trigger("change");
      $("#customer").val(orderData.custId).trigger("change");
      $("#employee").val(orderData.employId).trigger("change");
      this.isEdit = true;
      $("html, body").animate({ scrollTop: 0 });
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
      $("#supplier").select2();
      $("#customer").select2();
      $("#employee").select2();
    },
    updateOrder() {
      let $this = this;
      $.ajax({
        type: "PUT",
        url: `${baseURL}/orders/update/${this.updateId}`,
        data: $this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getOrders();
            $this.isEdit = false;
            for (let i in $this.form) {
              $this.form[i] = "";
            }
            $("#supplier").val(null).trigger("change");
            $("#customer").val(null).trigger("change");
            $("#employee").val(null).trigger("change");
          }
        },
      });
    },
  },
  mounted() {
    this.getOrders();
    $("#supplier").select2();
    $("#customer").select2();
    $("#employee").select2();
    $("#supplier").on("change", () => {
      this.form.suppId = $("#supplier").val();
    });
    $("#customer").on("change", () => {
      this.form.custId = $("#customer").val();
    });
    $("#employee").on("change", () => {
      this.form.employId = $("#employee").val();
    });
  },
};
</script>