<template>
  <div id="products" class="container">
    <form action="" class="mt-4">
      <div class="mb-3">
        <label for="product-name" class="form-label">Product Name</label>
        <input
          v-model="form.productName"
          type="text"
          class="form-control"
          id="product-name"
          placeholder="Product Name..."
        />
      </div>
      <div class="mb-3">
        <label for="product-unit" class="form-label">Product Unit</label>
        <input
          v-model="form.productUnit"
          type="text"
          class="form-control"
          id="product-unit"
          placeholder="Product unit..."
        />
      </div>
      <div class="mb-3">
        <label for="product-price" class="form-label">Product Price</label>
        <input
          v-model="form.productPrice"
          type="number"
          min="1"
          class="form-control"
          id="product-price"
          placeholder="Product price..."
        />
      </div>
      <div class="mb-3">
        <label for="product-category" class="form-label"
          >Product Category</label
        >
        <select
          v-model="form.productCategory"
          name="product-category"
          id="product-category"
          class="form-control"
        >
          <option value="computers">Computers</option>
          <option value="toys">Toys</option>
          <option value="accessories">Accessories</option>
          <option value="parts">Parts</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="supplier" class="form-label">Supplier</label>
        <select id="supplier" class="form-control" style="width: 100%">
          <option value="" disabled selected>Choose Supplier...</option>
          <option
            v-for="(supp, i) in suppliers"
            v-bind:value="supp.suppId"
            :key="i"
          >
            {{ supp.suppName }}
          </option>
        </select>
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-primary"
        id="btn-save-employ"
        @click.prevent="saveProduct()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateProduct()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <!-- Table section -->
    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Unit</td>
          <td>Price</td>
          <td>Category</td>
          <td>Supplier</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, i) in products" :key="i">
          <td>{{ product.productId }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productUnit }}</td>
          <td>${{ product.productPrice }}</td>
          <td>{{ product.productCategory }}</td>
          <td>{{ product.suppName }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteProduct(product.productId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editProduct(product)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "products",
  data() {
    return {
      isEdit: false,
      updateId: 0,
      products: [],
      suppliers: [],
      form: {
        productName: "",
        productUnit: "",
        productPrice: 0,
        productCategory: "",
        suppId: "",
      },
    };
  },
  methods: {
    getProducts() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/products/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.products = JSON.parse(data.products);
            $this.suppliers = JSON.parse(data.suppliers);
          }
        },
      });
    },
    saveProduct() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/products/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getProducts();
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteProduct(productId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/products/delete/${productId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.products.splice(i, 1);
          }
        },
      });
    },
    editProduct(productData) {
      this.updateId = productData.productId;
      this.form.productName = productData.productName;
      this.form.productUnit = productData.productUnit;
      this.form.productPrice = productData.productPrice;
      this.form.productCategory = productData.productCategory;
      $("#supplier").val(productData.suppId).trigger("change");
      this.isEdit = true;
      //$(document).scrollTop(0);
      $("html, body").animate({ scrollTop: 0 });
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
      $("#supplier").select2();
    },
    updateProduct() {
      let $this = this;
      $.ajax({
        type: "PUT",
        url: `${baseURL}/products/update/${this.updateId}`,
        data: $this.form,
        success: function (data, status) {
          if (status === "success") {
            $this.getProducts();
            $this.isEdit = false;
            for (let i in $this.form) {
              $this.form[i] = "";
            }
            $("#supplier").val(null).trigger("change");
          }
        },
      });
    },
  },
  mounted() {
    this.getProducts();
    $("#supplier").select2();
    $("#supplier").on("change", () => {
      this.form.suppId = $("#supplier").val();
    });
  },
};
</script>