<template>
  <div id="shippers" class="container">
    <form action="" class="mt-4" id="dept-form">
      <div class="mb-3">
        <label for="cust-name" class="form-label">Shipper Name</label>
        <input
          v-model="form.shipName"
          type="text"
          class="form-control"
          id="ship-name"
          placeholder="Shipper name..."
        />
      </div>
      <div class="mb-3">
        <label for="ship-phone" class="form-label">Shipper Phone</label>
        <input
          v-model="form.shipPhone"
          type="text"
          class="form-control"
          id="ship-phone"
          placeholder="Shipper phone..."
        />
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-success"
        @click.prevent="saveShipper()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateShipper()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Phone</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(ship, i) in shippers" :key="i">
          <td>{{ ship.shipId }}</td>
          <td>{{ ship.shipName }}</td>
          <td>{{ ship.shipPhone }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteShipper(ship.shipId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editShipper(ship)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "shippers",
  data() {
    return {
      updateId: 0,
      shippers: [],
      form: {
        shipName: "",
        shipPhone: "",
      },
      isEdit: false,
    };
  },
  methods: {
    getShippers() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/shippers/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.shippers = JSON.parse(data.shippers);
          }
        },
      });
    },
    saveShipper() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/shippers/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            //To prevent from making a new request to the backend
            //...the department ID sent from the backend is used to update
            //...the department list in the front end
            $this.shippers.push({
              shipId: JSON.parse(data),
              shipName: $this.form.shipName,
              shipPhone: $this.form.shipPhone,
            });
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteShipper(shipId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/shippers/delete/${shipId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.shippers.splice(i, 1);
          }
        },
      });
    },
    editShipper(shipData) {
      this.isEdit = true;
      this.form.shipName = shipData.shipName;
      this.form.shipPhone = shipData.shipPhone;
      this.updateId = shipData.shipId;
      $("html, body").animate({ scrollTop: 0 });
    },
    updateShipper() {
      let $this = this;
      if (this.updateId > 0) {
        $.ajax({
          type: "PUT",
          url: `${baseURL}/shippers/update/${this.updateId}`,
          data: this.form,
          success: function (data, status) {
            if (status === "success") {
              $this.isEdit = false;
              for (let i in $this.shippers) {
                if ($this.shippers[i].shipId === $this.updateId) {
                  $this.shippers[i].shipName = $this.form.shipName;
                  $this.shippers[i].shipPhone = $this.form.shipPhone;
                }
              }
              for (let i in $this.form) {
                $this.form[i] = "";
              }
            }
          },
        });
      }
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
    },
  },
  mounted() {
    this.getShippers();
  },
};
</script>

<style scoped>
</style>