<template>
  <div id="suppliers" class="container">
    <form action="" class="mt-4" id="dept-form">
      <div class="mb-3">
        <label for="supp-name" class="form-label">Supplier Name</label>
        <input
          v-model="form.suppName"
          type="text"
          class="form-control"
          id="supp-name"
          placeholder="Supplier name..."
        />
      </div>
      <div class="mb-3">
        <label for="supp-address" class="form-label">Supplier Address</label>
        <input
          v-model="form.suppAddress"
          type="text"
          class="form-control"
          id="supp-address"
          placeholder="Supplier address..."
        />
      </div>
      <div class="mb-3">
        <label for="supp-city" class="form-label">Supplier City</label>
        <input
          v-model="form.suppCity"
          type="text"
          class="form-control"
          id="supp-city"
          placeholder="Supplier city..."
        />
      </div>
      <div class="mb-3">
        <label for="supp-address" class="form-label">Supplier Zip</label>
        <input
          v-model="form.suppZip"
          type="text"
          class="form-control"
          id="supp-zip"
          placeholder="Supplier zip..."
        />
      </div>
      <div class="mb-3">
        <label for="supp-address" class="form-label">Supplier Country</label>
        <input
          v-model="form.suppCountry"
          type="text"
          class="form-control"
          id="supp-country"
          placeholder="Supplier country..."
        />
      </div>
      <div class="mb-3">
        <label for="supp-address" class="form-label">Supplier Phone</label>
        <input
          v-model="form.suppPhone"
          type="text"
          class="form-control"
          id="supp-phone"
          placeholder="Supplier phone..."
        />
      </div>
      <button
        v-show="!isEdit"
        class="btn btn-success"
        @click.prevent="saveSupplier()"
      >
        Submit
      </button>
      <button
        v-show="isEdit"
        class="btn btn-primary"
        @click.prevent="updateSupplier()"
      >
        Update
      </button>
      <button
        v-show="isEdit"
        class="btn btn-secondary"
        @click.prevent="cancelUpdate()"
      >
        Cancel
      </button>
    </form>

    <table class="table table-striped mt-3 mb-5 table-responsive-sm">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Address</td>
          <td>City</td>
          <td>Zip</td>
          <td>Country</td>
          <td>Phone</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(supp, i) in suppliers" :key="i">
          <td>{{ supp.suppId }}</td>
          <td>{{ supp.suppName }}</td>
          <td>{{ supp.suppAddress }}</td>
          <td>{{ supp.suppCity }}</td>
          <td>{{ supp.suppZip }}</td>
          <td>{{ supp.suppCountry }}</td>
          <td>{{ supp.suppPhone }}</td>
          <td>
            <button
              class="btn btn-danger"
              @click="deleteSupplier(supp.suppId, i)"
            >
              <i class="fa fa-trash-o"></i>
            </button>
            <button class="btn btn-success" @click="editSupplier(supp)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "suppliers",
  data() {
    return {
      updateId: 0,
      suppliers: [],
      form: {
        suppName: "",
        suppAddress: "",
        suppCity: "",
        suppZip: "",
        suppCountry: "",
        suppPhone: "",
      },
      isEdit: false,
    };
  },
  methods: {
    getSuppliers() {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/suppliers/get`,
        success: function (data, status) {
          if (status === "success") {
            $this.suppliers = JSON.parse(data.suppliers);
          }
        },
      });
    },
    saveSupplier() {
      let $this = this;
      $.ajax({
        type: "POST",
        url: `${baseURL}/suppliers/save`,
        data: this.form,
        success: function (data, status) {
          if (status === "success") {
            //To prevent from making a new request to the backend
            //...the department ID sent from the backend is used to update
            //...the department list in the front end
            $this.suppliers.push({
              suppId: JSON.parse(data),
              suppName: $this.form.suppName,
              suppAddress: $this.form.suppAddress,
              suppCity: $this.form.suppCity,
              suppZip: $this.form.suppZip,
              suppCountry: $this.form.suppCountry,
              suppPhone: $this.form.suppPhone,
            });
            for (let i in $this.form) {
              $this.form[i] = "";
            }
          }
        },
      });
    },
    deleteSupplier(suppId, i) {
      let $this = this;
      $.ajax({
        type: "DELETE",
        url: `${baseURL}/suppliers/delete/${suppId}`,
        success: function (data, status) {
          if (status === "success") {
            $this.suppliers.splice(i, 1);
          }
        },
      });
    },
    editSupplier(suppData) {
      this.isEdit = true;
      this.form.suppName = suppData.suppName;
      this.form.suppAddress = suppData.suppAddress;
      this.form.suppCity = suppData.suppCity;
      this.form.suppZip = suppData.suppZip;
      this.form.suppCountry = suppData.suppCountry;
      this.form.suppPhone = suppData.suppPhone;
      this.updateId = suppData.suppId;
      $("html, body").animate({ scrollTop: 0 });
    },
    updateSupplier() {
      let $this = this;
      if (this.updateId > 0) {
        $.ajax({
          type: "PUT",
          url: `${baseURL}/suppliers/update/${this.updateId}`,
          data: this.form,
          success: function (data, status) {
            if (status === "success") {
              $this.isEdit = false;
              for (let i in $this.suppliers) {
                if ($this.suppliers[i].suppId === $this.updateId) {
                  $this.suppliers[i].suppName = $this.form.suppName;
                  $this.suppliers[i].suppAddress = $this.form.suppAddress;
                  $this.suppliers[i].suppCity = $this.form.suppCity;
                  $this.suppliers[i].suppZip = $this.form.suppZip;
                  $this.suppliers[i].suppCountry = $this.form.suppCountry;
                  $this.suppliers[i].suppPhone = $this.form.suppPhone;
                }
              }
              for (let i in $this.form) {
                $this.form[i] = "";
              }
            }
          },
        });
      }
    },
    cancelUpdate() {
      this.isEdit = false;
      for (let i in this.form) {
        this.form[i] = "";
      }
    },
  },
  mounted() {
    this.getSuppliers();
  },
};
</script>

<style scoped>
</style>